#signin-btn{
    background-color: salmon;
    height: 80px; 
    width: 35%;
    padding-top: 22px;
    border-radius: 35px;
    font-size: 20px;
    font-weight: bold;
    transition: transform .2s;
    
}

#signin-btn:hover{
    -ms-transform: scale(1.08); /* IE 9 */
    -webkit-transform: scale(1.08); /* Safari 3-8 */
    transform: scale(1.08); 
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}