<div class="row" style="margin-bottom: 0px;">
  <div class="col s12" style=" opacity: 0.98; height: 100vh; background-image: url('https://wallpapercave.com/wp/mEF1kPI.jpg');background-repeat: no-repeat; background-size: cover;">
    
    <div class="row" style="padding-top: 10%;">
      <div class="col s2"></div>
      <div class="col s8">
        <h1 align = "center" style=" color: white;">Books<span style="color: #FFB300; ">Adda</span> - Buy and Sell</h1>
      </div>
    </div>
    
    <div class="row" style="padding-top: 2%">
      <div class="col s6" align = "right" >
        
        <a routerLink = '/signup'  class="waves-effect waves-light btn"  id = "signin-btn">Sign Up</a>
        
      </div>
      
      
      <div class="col s6">
        
        <a routerLink = '/signin' class="waves-effect waves-light btn"  id = "signin-btn">Sign In</a>
        
      </div>
    </div>
    
    <div class="row" style="padding-top: 15%;">
      <div class="col s2"></div>
      <div class="col s8" align = "center" >
        <h6 style="color: white; font-weight: bold; ">"I am a reader not because I don't have a life, but because I choose to have many" - <span style="color: #FFB300">Waterstones</span></h6>
      </div>
    </div>
    
  </div> 
</div>